body {
    background-color: rgb(241, 255, 233);
    font-family: 'Arial', sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;

}

a {
    color: rgb(66, 123, 66);
}

h1 {
    text-align: center;
    font-weight: 800px;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(93, 156, 93);
}

header {
    margin-bottom: 30px;
}

.form-container {
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 20px 30px;
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.6;
}

.instructions {
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #000000;
}

.button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 17px;
    width: 15%;
    color: #ffffff;
    background-color: rgb(93, 156, 93);
    border: 2px solid rgb(93, 156, 93);
    font-size: 16px;
}

.button:hover {
    background-color: rgb(103, 171, 105);
    cursor: pointer;
}

.poem {
    font-size: 16px;
    background-color: #ffffff;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid green;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 5px;
}

.poem strong {
    color: green;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.generating {
  animation: blink 1s step-start 0s infinite;
}